<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-type">
    <title><%= title %></title>
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag :all %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id="container">
      <div id="header">
        <h1><%= link_to image_tag("fiveminuteruby_logo.png"), root_path %></h1>
        <div class="clear"></div>
      </div>
      <div id="content">
        <div id="sidebar">
          <div class="sidebar_inner">
            <ul>
              <li><%= link_to 'Screencasts', root_url %></li>
              <li><%= link_to 'RSS Feed', screencasts_path(:format => :rss) %></li>
              <li><%= link_to 'About this site', about_path %></li>
            </ul>
          </div>
        </div>
        <div id="main">
          <div class="main_inner">
            <div id="messages">
              <% if has_msgs? %>
                <ul class="messages">
                  <% msgs.each do |m| %>
                    <li class="<%= [m.tone, 'message'].compact.join(' ') %>"><%= m %></li>
                  <% end %>
                </ul>
              <% end %>
            </div>
            <%= yield %>
          </div>
        </div>
        <div class="clear"></div>
      </div>
      <div id="footer">
        <p>&copy; <%= Time.zone.now.year %> Austin Schneider. All rights reserved.</p>
      </div>
    </div>
    <%= javascript_tag do %>
      <% if Rails.env.production? %>
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-17199780-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      <% end %>
    <% end %>
  </body>
</html>