!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %meta{'http-equiv' => "Content-type", :content => "text/html; charset=utf-8"}
    %title Rails3Testing
    = stylesheet_link_tag :all
    = javascript_include_tag :all
    = csrf_meta_tag
  %body
    #container
      #header
        %h1
          = image_tag("fiveminuteruby_logo.png")
      #main
        #messages
          - if has_msgs?
            %ul.messages
              - msgs.each do |msg|
                %li{:class => "message #{msg.tone}"}= msg
        = yield